<div class="container">
    <div class="row cus-mt">
        <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              
              <select class="form-control" [(ngModel)]="DropJSON" (change)="fetchData()">
                  <option value="1">json-sample-A.json </option>
                  <option value="2">json-sample-B.json</option>
              </select>
             
            </div>
          </div>
          
    <table class="table table-striped">
        <thead>
        <tr>
          
          <th scope="col" *ngFor="let column of columnsArr">{{column}}</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let JSON of sampleJSON; index as i">
          
          <td *ngFor="let column of columnsArr">
            {{JSON[column]}}
          </td>
          
          
        </tr>
        </tbody>
      </table>
      
      
    </div>
    </div>